body {
  font-family: Truculenta;
  font-size: x-large;
  background-color: grey;
}
.navbar-nav {
  position: relative;
  left: 62rem;
}
.nav-item {
  margin-left: 50px;
}
.navbar-brand {
  margin-left: 20px;
}
.nav-item:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
a {
  text-decoration: none;
}
.empty > ul {
  list-style: none;
}
.empty > li {
  display: inline;
  margin: 3vh;
}
.fa-brands:hover {
  opacity: 60%;
}
