body {
  font-family: Truculenta;
  font-size: 3.45vh;
  background-color: grey;
}
.navbar-nav {
  position: relative;
  left: 62rem;
}
.nav-item {
  margin-left: 50px;
}
.navbar-brand {
  margin-left: 20px;
}
.nav-item:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
a {
  text-decoration: none;
}
.empty > ul {
  list-style: none;
}
.empty > li {
  display: inline;
  margin: 3vh;
}
.fa-brands:hover {
  opacity: 60%;
}
@media screen and (max-width: 664px) {
  .lastpart {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    margin: auto !important;
    width: 50% !important;
  }
  .hobbiespart {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    margin: auto !important;
    width: 50% !important;
  }
  .about {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    margin: auto !important;
    width: 50% !important;
  }
  .skills {
    font-size: 50% !important;
  }
  body {
    font-size: 2.5vh !important;
  }
  #pfp {
    width: 35vh;
  }
}
@media screen and (max-width: 650px) {
  #pfp {
    width: 30vh;
  }
}
@media screen and (max-width: 550px) {
  #pfp {
    width: 25vh;
  }
}
@media screen and (max-width: 400px) {
  #pfp {
    width: 20vh;
  }
}
